:root {
  --primaryColor: #1073BA;
  --secondaryColor: #00DA55;
  --grey: #3b3b3b;
  --ligthGrey: #E1E1E1;
  --white: #FFFFFF;
  --black: #1F1E1E;

  --separation: 5rem;

  --pimaryFont: 'Roboto', sans-serif;
  --secondaryFont: 'Lato', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: var(--pimaryFont);
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 900;
  font-family: var(--secondaryFont);
  margin: calc( var(--separation) / 2 ) 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Utilities */
.text-center {
  text-align: center;
}

.advise {
  max-height: 14px;
  font-size: 1.2rem;
  line-height: 1;
}

/* Gradients */
.green-gradient {
  color: transparent;
  background: linear-gradient(to right, var(--primaryColor) 0%, var(--secondaryColor) 100% );
  -webkit-background-clip: text;
  background-clip: text;
}

/* header */
header {
  background-color: var(--black);
  padding: calc( var(--separation) * 3 ) 0;
  color: var(--white);
}

@media (min-width: 768px) {
  .container-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.text-header {
  text-align: center;
  margin-top: var(--separation);
}

@media (min-width: 768px) {
  .text-header {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
}

.text-header p {
  margin: 0;
}

.tagline-product {
  font-size: 3rem;
  font-weight: 900;
}

.name-product {
  font-size: 6rem;
  margin: 0;
}

@media (min-width: 768px) {
  .name-product {
    font-size: 10rem;
    line-height: 1;
  }
}

.price-product span {
  font-size: 6rem;
  font-weight: 900;
}

